* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Assuming the background is a light color */
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; /* Adjust the padding as needed */
}
.logo {
  /* Adjust the width and height as needed to fit your logo's aspect ratio */
  width: 60px; /* Example width */
  height: auto; /* This will maintain the aspect ratio of the image */
  /* Other styling as needed, such as padding or margins */
  margin-left: 5rem;

  font-size: 2rem;
  color: white;
  background-color: black; /* Assuming the logo background is black */
  border-radius: 10px; /* Adjust as needed */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo img {
  max-width: 100%; /* Ensures the image is responsive and doesn't overflow its container */
  height: auto; /* Maintains the aspect ratio */
  display: block; /* Removes any space below the image */
}

nav .contact-link {
  text-decoration: none;
  color: white;
  background-color: #000; /* Assuming the button is black */
  padding: 1rem 1.5rem; /* Adjust the padding as needed */
  border-radius: 15px; /* Adjust as needed for rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  font-size: small;
  margin-right: 5rem;
}

nav .contact-link:hover {
  background-color: #555; /* Slightly lighter black on hover */
}

/* This styles the container of the h1 and p */
.hero {
  display: flex; /* Establishes a flex container */
  flex-direction: column; /* Stacks items vertically */
  justify-content: center; /* Centers content vertically in the container */
  align-items: center; /* Centers content horizontally in the container */
  height: 60vh; /* Makes the section the full height of the viewport */
  text-align: center; /* Centers the text within the h1 and p elements */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

/* This styles the h1 element itself */
.hero h1 {
  color: #333; /* Dark text color */
  font-size: 2.5rem; /* Large font size for the main heading */
  margin-top: 2rem; /* Space above the h1 */
  /* justify-content is not needed here, it's for flex containers */
}

/* This styles the p element itself */
.hero p {
  color: #666; /* Lighter text color for the subheading */
  font-size: 0.87rem; /* Adjust the font size as needed */
  margin-top: 0.5rem; /* Space above the paragraph */
  /* justify-content is not needed here, it's for flex containers */
}


.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust minmax to your preference for the size of the boxes */
  gap: 20px; /* This is the space between the boxes */
  justify-content: center; /* This centers the grid items in the container when there is extra space */
  align-items: center; /* This centers the grid items vertically in their grid area */
  padding: 1rem; /* Adjust padding to your preference */
  margin-left: 3rem;
}

.service-box {
  display: flex;
  justify-content : left;  
  font-weight: bold;
  align-items: center;
  background-color: #f0f0f0; /* Example color */
  color: #000000;
  border-radius: 10px;
  font-size: 20px;
  aspect-ratio: 1 / 1; /* Creates a square aspect ratio */
  
}

/* Custom colors for each box based on your first image */
.service-box:nth-child(1) { 
  background-color: #c7a2fc;


  padding-top: 20rem;
  width: auto;
  margin: 10px; /* Adds space around the boxes */
  

 }
.service-box:nth-child(2) { 
  background-color: #fcabab;
  transform: translate(170px, -100px);

 }
.service-box:nth-child(3) { 
  background-color: #fcb3fc; 
  transform: translate(155px, -100px);

}
.service-box:nth-child(4) { 
  background-color: #abdafe; 
  width: 20rem;
  height: 10rem;
  transform: translate(-45px, -100px);

  margin-left: 12rem; /* Adds space around the boxes */
}
.service-box:nth-child(5) { 
  background-color: #abcffe; 
  width: 20rem;
  height: 10rem;

  transform: translate(-350px, 100px);
}
.service-box:nth-child(6) { 
  background-color: #cfc7fc; 
  width: 20rem;
  height: 10rem;
  transform: translate(-200px, 100px);
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 20px; /* Rounded corners for the section */
  
}

.contact-image img {
  border-radius: 10%; /* Circular image */
  margin-right: 30px; /* Space between the image and the text */
  width: 400px; /* Adjust the width as needed */
  height: 490px; /* Maintains the aspect ratio */

}

.contact-content {
  max-width: 600px; /* Maximum width of the text section */
}

.contact-content h2 {
  color: #333; /* Dark color for the text */
  margin-bottom: 10px; /* Space below the heading */
  margin-right: 5rem;

}

.contact-content p {
  color: #666; /* Lighter color for the paragraph */
  margin-bottom: 20px; /* Space below the paragraph */
  margin-right: 5rem;
}

.contact-button {
  background-color: #fcb3fc; /* A pink color for the button */
  color: rgb(0, 0, 0);
  border: none;
  font-weight: bold;
  padding: 1rem 40px;
  border-radius: 20px; /* Rounded corners for the button */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.contact-button:hover {
  background-color: #ff8eb4; /* A lighter pink on hover */
}

.my-work {
  text-align: center;
  margin: 40px 0;
}

.my-work h2 {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 20px;
}

.work-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  column-gap: 20px; /* Horizontal space */
  row-gap: 90px; /* Vertical space between rows */
  /* Other styles */
}


.work-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will position the title at the top and the content at the bottom */
  color: #333;
  border: 5px solid #000000;

  border-radius: 10px;
  overflow: hidden; /* Ensures content doesn't overflow the border radius */
  position: relative; /* For positioning the title absolutely within the card */
  aspect-ratio: 1; /* Keeps the item square */ 


}

.work-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; /* Ensures the image covers the item, can be cropped if necessary */
}

.work-item h3 {
  position: static;
  top: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
}

.work-item .content {
  padding: 0px; /* Adjust padding as necessary */
  margin-top: auto; /* Pushes the content to the bottom */
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7a2fc; /* Adjust the color to match the image */
  padding: 2rem;
  margin-top: 6rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 6rem;
  border-radius: 20px; /* Rounded corners for the box */
}

.cta-content {
  max-width: 1200px; /* Or the maximum width you prefer */
  text-align: left;
}

.cta-content h2 {
  color: #000000; /* Assuming a light text color for contrast */
  margin-bottom: 1rem;
}

.cta-content p {
  color: #000000; /* Assuming a light text color for contrast */
  margin-bottom: 2rem;
}

.cta-button {
  background-color: #000; /* Button background color */
  color: #fff; /* Button text color */
  font-weight: bold;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 20px; /* Rounded corners for the button */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.cta-button:hover {
  background-color: #555; /* Darker background on hover */
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: #000000; /* Adjust to match the footer text color */
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.footer-logo {
  font-size: 3rem; /* Adjust to match the logo size */
  position: absolute;
  left: 2rem; /* Adjust to match the design */
}

.footer-text {
  position: absolute;
  right: 2rem; /* Adjust to match the design */
}

/* If you want a line in the middle, you can add an after pseudo-element */
.footer-container::after {
  content: '';
  display: block;
  position: absolute;
  top: 0%;
  left: 6rem;
  right: 2rem;
  height: 1px; /* Line thickness */
  background-color: #6c6c6c; /* Line color */
  
}

/* Make sure the logo and text are above the line */
.footer-text {
  z-index: 1;
}

.logo2 {
  /* Adjust the width and height as needed to fit your logo's aspect ratio */
  width: 60px; /* Example width */
  height: auto; /* This will maintain the aspect ratio of the image */
  /* Other styling as needed, such as padding or margins */
  margin-left: 5rem;
}

.logo2 img {
  max-width: 100%; /* Ensures the image is responsive and doesn't overflow its container */
  height: auto; /* Maintains the aspect ratio */
  display: block; /* Removes any space below the image */
}

.logo2 {
  font-size: 2rem;
  border-radius: 10px; /* Adjust as needed */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 5rem;
}